In [5]:
import pandas as pd

def import_files(oldnum,newnum):
    old_season = pd.read_csv(r"C:\Users\krawc\OneDrive\Documents\code\pythons\predictor\data\\"+f'ranked_mets_{str(oldnum)}.csv', index_col=[0])
    new_season = pd.read_csv(r"C:\Users\krawc\OneDrive\Documents\code\pythons\predictor\data\\"+f"ranked_mets_{str(newnum)}.csv", index_col=[0])
    # old_season = pd.read_csv(r"C:\Users\krawc\OneDrive\Documents\code\pythons\predictor\data\\"+f'nometric_{str(oldnum)}.csv', index_col=[0])
    # new_season = pd.read_csv(r"C:\Users\krawc\OneDrive\Documents\code\pythons\predictor\data\\"+f"nometric_{str(newnum)}.csv", index_col=[0])
    
    return old_season,new_season

In [6]:
def sim_promoted(new_season,old_season):
    r1i=old_season.index
    r2i=new_season.index
    same=list(set(r1i).intersection(set(r2i)))
    promoted=list(set(r2i)-set(r1i))
   
    real=old_season.loc[same]
    estimated=new_season.loc[promoted]

    mixed=pd.concat([real,estimated])
    return mixed

In [7]:
def run(startyear):
    # startyear=22
    old=(startyear-1)*100+startyear
    new=startyear*100+(startyear+1)

    old_season,new_season=import_files(old,new)
    mixed = sim_promoted(new_season,old_season)
    # mixed.to_csv(f'ranked_mets_{str(new)}back.csv')
    # mixed.to_csv(f'nometric_{str(new)}back.csv')
    return mixed

In [8]:
lst=[]
for year in range(19,23):
    mixed =run(year)
    lst.append(mixed)

In [9]:
pd.concat(lst)

,players_used,mp,starts,min,90s,ga,ga90,sota,saves,save%,...,opp_totdist,opp_prgdist,opp_prgc,opp_1/3,opp_cpa,opp_mis,opp_dis,opp_rec,opp_prgr,tls
Watford,1,38,38,3420,38,59,1.55,180,123,69.4,...,69001,35925,762,619,193,544,399,15004,1585,0.403963
Manchester City,1,38,38,3420,38,23,0.61,81,58,76.5,...,45354,21716,410,322,83,453,325,9885,799,0.368726
Bournemouth,3,38,38,3420,38,70,1.84,173,106,62.4,...,72502,37072,741,582,203,551,309,15971,1652,0.430476
Newcastle Utd,1,38,38,3420,38,48,1.26,140,93,70.0,...,81384,42957,811,635,164,596,471,18329,1849,0.390999
Crystal Palace,3,38,38,3420,38,53,1.39,163,110,69.9,...,77347,41997,827,662,144,642,452,16640,1879,0.391542
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wolves,2,38,38,3420,38,43,1.13,167,125,79.6,...,73717,38705,780,532,190,501,400,15627,1502,0.439822
Everton,2,38,38,3420,38,66,1.74,188,127,66.0,...,76711,41763,735,574,160,664,369,17894,1782,0.429787
Fulham,2,38,38,3420,38,53,1.39,196,144,76.5,...,65866,32970,558,353,165,543,324,14833,1390,0.439807
Bournemouth,2,38,38,3420,38,71,1.87,204,136,68.1,...,82870,42849,810,575,211,550,362,18578,1976,0.399676
Nott'ham Forest,3,38,38,3420,38,68,1.79,182,112,65.9,...,86558,47243,813,585,216,557,363,18267,1880,0.412747