In [ ]:
import pandas as pd
import soccerdata as sd
# https://fbref.com/en/comps/9/Premier-League-Stats
team_stats = ["standard","keeper","keeper_adv","shooting","passing","passing_types","goal_shot_creation","defense","possession","playing_time","misc",]
team_match_stats = ["schedule","shooting","keeper","passing","passing_types","goal_shot_creation","defense","possession","misc"]
# fbref = sd.FBref(leagues=['ENG-Premier League'], seasons=['2122','2223'])
ss=['1819', '1920', '2021', '2122', '2223']
fbref = sd.FBref(leagues=['ENG-Premier League'], seasons=ss)

In [ ]:
season_stats0 = fbref.read_team_season_stats(stat_type=team_stats[0])
season_stats0

In [ ]:
#0  "standard", xG PrgC PrgP, Gls Ast CrdY
#1  "keeper","keeper_adv", GA Saves ,PSxG,Launched_Att
#3  "shooting", Sh SoT Dist FK 
#45  "passing","passing_types", Cmp Att ShortAtt LongAtt TotDist PrgDist KP 1/3 PPA Sw CrsPA PrgP
#6  "goal_shot_creation", SCA GCA SCA_TO(dribb) SCA_Def(press)
#7  "defense", Tackles[Def3rd Mid3rd Att3rd TklW] Challenges(dribbl) ChallengesLost Blocks, Int Clr Err
#8  "possession", Poss, Touches[Att 3rd] Take-Ons(dribbl)[Att] Carries[PrgC] Mis Dis Rec
#9  "playing_time", 
#10  "misc", Fls Fld Off Crs Int TklW Recov Won Lost

In [ ]:
season_stats1 = fbref.read_team_season_stats(stat_type=team_stats[1])
season_stats2 = fbref.read_team_season_stats(stat_type=team_stats[2])
season_stats3 = fbref.read_team_season_stats(stat_type=team_stats[3])
season_stats4 = fbref.read_team_season_stats(stat_type=team_stats[4])
season_stats5 = fbref.read_team_season_stats(stat_type=team_stats[5])
season_stats6 = fbref.read_team_season_stats(stat_type=team_stats[6])
season_stats7 = fbref.read_team_season_stats(stat_type=team_stats[7])
season_stats8 = fbref.read_team_season_stats(stat_type=team_stats[8])

season_stats10 = fbref.read_team_season_stats(stat_type=team_stats[10])

In [ ]:
season_stats3opp = fbref.read_team_season_stats(stat_type=team_stats[3],opponent_stats=True)
season_stats4opp = fbref.read_team_season_stats(stat_type=team_stats[4],opponent_stats=True)
season_stats5opp = fbref.read_team_season_stats(stat_type=team_stats[5],opponent_stats=True)
season_stats8opp = fbref.read_team_season_stats(stat_type=team_stats[8],opponent_stats=True)

In [ ]:
t0=season_stats0.copy()
t1=season_stats1.copy()
t2=season_stats2.copy()
t3=season_stats3.copy()
t4=season_stats4.copy()
t5=season_stats5.copy()
t6=season_stats6.copy()
t7=season_stats7.copy()
t8=season_stats8.copy()
t10=season_stats10.copy()
t3opp=season_stats3opp.copy()
t4opp=season_stats4opp.copy()
t5opp=season_stats5opp.copy()
t8opp=season_stats8opp.copy()

In [ ]:
def clean0(t0:pd.DataFrame,keep_top_info=False):
    t0=t0.droplevel(level=[0])
    try:
        t0=t0.drop('Per 90 Minutes', axis=1,level=0)
    except:
        pass
    if keep_top_info:
        t0.columns=[' '.join(col).strip() for col in t0.columns.values]
    else:
        t0.columns=pd.MultiIndex.from_tuples([col if col[1] else (col[0],col[0]) for col in t0.columns.values])
        t0=t0.droplevel(level=[0],axis=1)
    try:
        t0=t0.drop('url',axis=1)
    except:
        pass
    return t0
# df.columns = [' '.join(col).strip() for col in df.columns.values]
# shooting.columns=[col[1] if col[1] else col[0] for col in shooting.columns.values]

In [ ]:
def fix_cols_sca(t6):
    l0=t6.columns.get_level_values(0)
    l1=t6.columns.get_level_values(1)
    m0={ 'GCA':'', 'GCA Types':'GCA', 'SCA':'', 'SCA Types':'SCA','90s':'90s', 'players_used':'players_used', 'url':'url'}
    l0=l0.map(m0)
    t6.columns=pd.MultiIndex.from_arrays([l0,l1])
    return t6

In [ ]:

t1=clean0(t1)
t1=t1.rename({'PKatt':'GPKatt'},axis=1)
t1.columns = [*t1.columns[:-1], 'PKSave%']

t2=t2['Expected'].droplevel(level=[0])
t3=clean0(t3)
t4=clean0(t4,keep_top_info=True)
t4=t4.rename({'1/3':'P1/3'},axis=1)
t5=clean0(t5)
t5=t5.rename({'Att':'PAtt','Live':'PLive','FK':'PFK'},axis=1)
fix_cols_sca(t6)
t6=clean0(t6,keep_top_info=True)
t7=clean0(t7,keep_top_info=True)
t8=clean0(t8)
t10=clean0(t10)

t3opp=clean0(t3opp)
t3opp.columns=['opp_'+x for x in t3opp.columns]
t3opp.index=pd.MultiIndex.from_tuples([(x[0],x[1][3:]) for x in t3opp.index])
t4opp=clean0(t4opp,keep_top_info=True)
t4opp=t4opp.rename({'1/3':'P1/3'},axis=1)
t4opp.columns=['opp_'+x for x in t4opp.columns]
t4opp.index=pd.MultiIndex.from_tuples([(x[0],x[1][3:]) for x in t4opp.index])
t5opp=clean0(t5opp)
t5opp=t5opp.rename({'Att':'PAtt','Live':'PLive','FK':'PFK'},axis=1)
t5opp.columns=['opp_'+x for x in t5opp.columns]
t5opp.index=pd.MultiIndex.from_tuples([(x[0],x[1][3:]) for x in t5opp.index])
t8opp=clean0(t8opp)
t8opp.columns=['opp_'+x for x in t8opp.columns]
t8opp.index=pd.MultiIndex.from_tuples([(x[0],x[1][3:]) for x in t8opp.index])

In [ ]:
to_concat = [t1,t2,t3,t4,t5,t6,t7,t8,t10,t3opp,t4opp,t5opp,t8opp]
df=pd.concat(to_concat,axis=1)
df=df.loc[:,~df.columns.duplicated()].copy()

In [ ]:
cnames=df.columns.value_counts()
dcnames=cnames[cnames>1]
to_drop=['players_used','90s']
same=['Off','Crs','Int']
notsame=['Att','Live','FK','PKatt','1/3','Save%']
dcnames
# df[dcnames.index]

In [ ]:
df.to_csv("teams5sb.csv")

In [ ]:
# season_table = fbref.read_schedule()
df

In [ ]:
r=range(15,24)
l1=list(r)
l2=[(l1[i],l1[i+1]if i<8 else x) for i,x in enumerate(l1)]
[str(x)+str(y) for x,y in l2][:-1]

In [37]:
t4

                        players_used  90s  Total Cmp  Total Att  Total Cmp%  \
season team
1819   Arsenal                    28   38      18425      22549        81.7
       Bournemouth                28   38      13505      17650        76.5
       Brighton                   21   38      11491      15824        72.6
       Burnley                    23   38      10134      14793        68.5
       Cardiff City               25   38       7170      11715        61.2
...                              ...  ...        ...        ...         ...
2223   Nott'ham Forest            33   38       9543      13606        70.1
       Southampton                36   38      12319      16391        75.2
       Tottenham                  29   38      15972      19672        81.2
       West Ham                   25   38      12369      16357        75.6
       Wolves                     32   38      14554      18294        79.6

                        Total TotDist  Total PrgDist  Short Cmp  Short Att  \
season team
1819   Arsenal                 313400         105044       8573       9619
       Bournemouth             231203          91075       6643       7752
       Brighton                217603          86066       5120       6084
       Burnley                 194079          85014       4537       5520
       Cardiff City            138500          66941       3143       4097
...                               ...            ...        ...        ...
2223   Nott'ham Forest         177315          72656       4046       4952
       Southampton             211636          79814       5972       6925
       Tottenham               277567          92697       7333       8180
       West Ham                219013          84296       5883       6778
       Wolves                  264071          87310       6350       7195

                        Short Cmp%  ...  Long Cmp%  Ast   xAG    xA  A-xAG  \
season team                         ...
1819   Arsenal                89.1  ...       59.5   52  46.7  43.9    5.3
       Bournemouth            85.7  ...       50.7   43  38.8  34.0    4.2
       Brighton               84.2  ...       51.2   24  24.5  23.1   -0.5
       Burnley                82.2  ...       46.1   32  31.2  27.6    0.8
       Cardiff City           76.7  ...       38.8   20  27.6  25.4   -7.6
...                            ...  ...        ...  ...   ...   ...    ...
2223   Nott'ham Forest        81.7  ...       43.8   22  26.3  20.5   -4.3
       Southampton            86.2  ...       44.6   25  28.2  26.0   -3.2
       Tottenham              89.6  ...       56.2   46  43.1  34.0    2.9
       West Ham               86.8  ...       50.2   25  32.7  26.8   -7.7
       Wolves                 88.3  ...       54.5   12  25.4  21.0  -13.4

                         KP  P1/3  PPA  CrsPA  PrgP
season team
1819   Arsenal          363  1220  417     63  1874
       Bournemouth      330   979  330     76  1435
       Brighton         281   887  223     81  1150
       Burnley          254   879  239     82  1032
       Cardiff City     294   768  175     57   918
...                     ...   ...  ...    ...   ...
2223   Nott'ham Forest  246   660  172     50   859
       Southampton      302   938  239     71  1125
       Tottenham        386  1071  323    104  1449
       West Ham         340   990  212     80  1274
       Wolves           294  1110  252     71  1343

[100 rows x 25 columns]