In [91]:
import pandas as pd
import soccerdata as sd
# https://fbref.com/en/comps/9/Premier-League-Stats
team_stats = ["standard","keeper","keeper_adv","shooting","passing","passing_types","goal_shot_creation","defense","possession","playing_time","misc",]
team_match_stats = ["schedule","shooting","keeper","passing","passing_types","goal_shot_creation","defense","possession","misc"]
# fbref = sd.FBref(leagues=['ENG-Premier League'], seasons=['2122','2223'])
ss=['1819', '1920', '2021', '2122', '2223']
fbref = sd.FBref(leagues=['ENG-Premier League'], seasons=ss)

[10/09/23 14:36:35] INFO     Saving cached data to ~\soccerdata\data\FBref                            ]8;id=932582;file://c:\Users\krawc\OneDrive\Documents\code\pythons\predictor\.venv\Lib\site-packages\soccerdata\_common.py\_common.py]8;;\:]8;id=492045;file://c:\Users\krawc\OneDrive\Documents\code\pythons\predictor\.venv\Lib\site-packages\soccerdata\_common.py#89\89]8;;\

c:\Users\krawc\OneDrive\Documents\code\pythons\predictor\.venv\Lib\site-packages\soccerdata\_common.py:471: UserWarning: Season id "2021" is ambiguous: interpreting as "20-21"
  warnings.warn(msg, stacklevel=1)

In [92]:
season_stats0 = fbref.read_team_season_stats(stat_type=team_stats[0])
season_stats0

                                          players_used   Age  Poss  \

league             season team
ENG-Premier League 1819   Arsenal                   28  26.7  58.1
                          Bournemouth               28  26.6  46.9
                          Brighton                  21  27.4  42.4
                          Burnley                   23  28.0  41.2
                          Cardiff City              25  27.7  35.4
...                                                ...   ...   ...
                   2223   Nott'ham Forest           33  26.5  37.6
                          Southampton               36  24.7  44.5
                          Tottenham                 29  27.6  50.0
                          West Ham                  25  28.2  42.1
                          Wolves                    32  26.7  49.9

                                          Playing Time                   \
                                                    MP Starts   Min 90s
league             season team
ENG-Premier League 1819   Arsenal                   38    418  3420  38
                          Bournemouth               38    418  3420  38
                          Brighton                  38    418  3420  38
                          Burnley                   38    418  3420  38
                          Cardiff City              38    418  3420  38
...                                                ...    ...   ...  ..
                   2223   Nott'ham Forest           38    418  3420  38
                          Southampton               38    418  3420  38
                          Tottenham                 38    418  3420  38
                          West Ham                  38    418  3420  38
                          Wolves                    38    418  3420  38

                                          Performance           ...  \
                                                  Gls Ast  G+A  ...
league             season team                                  ...
ENG-Premier League 1819   Arsenal                  69  52  121  ...
                          Bournemouth              55  43   98  ...
                          Brighton                 35  24   59  ...
                          Burnley                  43  32   75  ...
                          Cardiff City             33  20   53  ...
...                                               ...  ..  ...  ...
                   2223   Nott'ham Forest          36  22   58  ...
                          Southampton              36  25   61  ...
                          Tottenham                68  46  114  ...
                          West Ham                 41  25   66  ...
                          Wolves                   28  12   40  ...

                                          Per 90 Minutes                     \
                                                     Ast   G+A  G-PK G+A-PK
league             season team
ENG-Premier League 1819   Arsenal                   1.37  3.18  1.71   3.08
                          Bournemouth               1.13  2.58  1.26   2.39
                          Brighton                  0.63  1.55  0.79   1.42
                          Burnley                   0.84  1.97  1.08   1.92
                          Cardiff City              0.53  1.39  0.79   1.32
...                                                  ...   ...   ...    ...
                   2223   Nott'ham Forest           0.58  1.53  0.87   1.45
                          Southampton               0.66  1.61  0.89   1.55
                          Tottenham                 1.21   3.0  1.66   2.87
                          West Ham                  0.66  1.74  0.92   1.58
                          Wolves                    0.32  1.05  0.66   0.97

                                                                             \
                                             xG   xAG xG+xAG  npxG npxG+xAG
league             season team
ENG-Premier League 1819   Arsenal          1.58  1.23   2.81  1.47      2.7
                          Bournemouth       1.4  1.02   2.42  1.22     2.24
                          Brighton         0.93  0.64   1.57  0.81     1.45
                          Burnley          1.17  0.82   1.99  1.13     1.95
                          Cardiff City     1.11  0.73   1.84  1.03     1.76
...                                         ...   ...    ...   ...      ...
                   2223   Nott'ham Forest  1.03  0.69   1.73  0.91      1.6
                          Southampton      0.99  0.74   1.73  0.91     1.65
                          Tottenham         1.5  1.13   2.64  1.38     2.51
                          West Ham         1.29  0.86   2.15  1.15     2.01
                          Wolves           0.97  0.67   1.64  0.91     1.58

                                                                                         url

league             season team
ENG-Premier League 1819   Arsenal                /en/squads/18bb7c10/2018-2019/Arsenal-Stats
                          Bournemouth        /en/squads/4ba7cbea/2018-2019/Bournemouth-Stats
                          Brighton         /en/squads/d07537b9/2018-2019/Brighton-and-Hov...
                          Burnley                /en/squads/943e8050/2018-2019/Burnley-Stats
                          Cardiff City      /en/squads/75fae011/2018-2019/Cardiff-City-Stats
...                                                                                      ...
                   2223   Nott'ham Forest  /en/squads/e4a775cb/2022-2023/Nottingham-Fores...
                          Southampton        /en/squads/33c895d4/2022-2023/Southampton-Stats
                          Tottenham        /en/squads/361ca564/2022-2023/Tottenham-Hotspu...
                          West Ham         /en/squads/7c21e445/2022-2023/West-Ham-United-...
                          Wolves           /en/squads/8cec06e1/2022-2023/Wolverhampton-Wa...

[100 rows x 32 columns]

In [93]:
#0  "standard", xG PrgC PrgP, Gls Ast CrdY
#1  "keeper","keeper_adv", GA Saves ,PSxG,Launched_Att
#3  "shooting", Sh SoT Dist FK 
#45  "passing","passing_types", Cmp Att ShortAtt LongAtt TotDist PrgDist KP 1/3 PPA Sw CrsPA PrgP
#6  "goal_shot_creation", SCA GCA SCA_TO(dribb) SCA_Def(press)
#7  "defense", Tackles[Def3rd Mid3rd Att3rd TklW] Challenges(dribbl) ChallengesLost Blocks, Int Clr Err
#8  "possession", Poss, Touches[Att 3rd] Take-Ons(dribbl)[Att] Carries[PrgC] Mis Dis Rec
#9  "playing_time", 
#10  "misc", Fls Fld Off Crs Int TklW Recov Won Lost

In [94]:
season_stats1 = fbref.read_team_season_stats(stat_type=team_stats[1])
season_stats2 = fbref.read_team_season_stats(stat_type=team_stats[2])
season_stats3 = fbref.read_team_season_stats(stat_type=team_stats[3])
season_stats4 = fbref.read_team_season_stats(stat_type=team_stats[4])
season_stats5 = fbref.read_team_season_stats(stat_type=team_stats[5])
season_stats6 = fbref.read_team_season_stats(stat_type=team_stats[6])
season_stats7 = fbref.read_team_season_stats(stat_type=team_stats[7])
season_stats8 = fbref.read_team_season_stats(stat_type=team_stats[8])

season_stats10 = fbref.read_team_season_stats(stat_type=team_stats[10])

In [95]:
season_stats3opp = fbref.read_team_season_stats(stat_type=team_stats[3],opponent_stats=True)
season_stats4opp = fbref.read_team_season_stats(stat_type=team_stats[4],opponent_stats=True)
season_stats8opp = fbref.read_team_season_stats(stat_type=team_stats[8],opponent_stats=True)

In [96]:
t0=season_stats0.copy()
t1=season_stats1.copy()
t2=season_stats2.copy()
t3=season_stats3.copy()
t4=season_stats4.copy()
t5=season_stats5.copy()
t6=season_stats6.copy()
t7=season_stats7.copy()
t8=season_stats8.copy()
t10=season_stats10.copy()
t3opp=season_stats3opp.copy()
t4opp=season_stats4opp.copy()
t8opp=season_stats8opp.copy()

In [97]:
def clean0(t0:pd.DataFrame,keep_top_info=False):
    t0=t0.droplevel(level=[0])
    try:
        t0=t0.drop('Per 90 Minutes', axis=1,level=0)
    except:
        pass
    if keep_top_info:
        t0.columns=[' '.join(col).strip() for col in t0.columns.values]
    else:
        t0.columns=pd.MultiIndex.from_tuples([col if col[1] else (col[0],col[0]) for col in t0.columns.values])
        t0=t0.droplevel(level=[0],axis=1)
    try:
        t0=t0.drop('url',axis=1)
    except:
        pass
    return t0
# df.columns = [' '.join(col).strip() for col in df.columns.values]
# shooting.columns=[col[1] if col[1] else col[0] for col in shooting.columns.values]

In [98]:
def fix_cols_sca(t6):
    l0=t6.columns.get_level_values(0)
    l1=t6.columns.get_level_values(1)
    m0={ 'GCA':'', 'GCA Types':'GCA', 'SCA':'', 'SCA Types':'SCA','90s':'90s', 'players_used':'players_used', 'url':'url'}
    l0=l0.map(m0)
    t6.columns=pd.MultiIndex.from_arrays([l0,l1])
    return t6

In [99]:

t1=clean0(t1)
t1=t1.rename({'PKatt':'GPKatt'},axis=1)
t1.columns = [*t1.columns[:-1], 'PKSave%']

t2=t2['Expected'].droplevel(level=[0])
t3=clean0(t3)
t4=clean0(t4,keep_top_info=True)
t4=t4.rename({'1/3':'P1/3'},axis=1)
t5=clean0(t5)
t5=t5.rename({'Att':'PAtt','Live':'PLive','FK':'PFK'},axis=1)
fix_cols_sca(t6)
t6=clean0(t6,keep_top_info=True)
t7=clean0(t7,keep_top_info=True)
t8=clean0(t8)
t10=clean0(t10)

t3opp=clean0(t3opp)
t3opp.columns=['opp_'+x for x in t3opp.columns]
t3opp.index=pd.MultiIndex.from_tuples([(x[0],x[1][3:]) for x in t3opp.index])
t4opp=clean0(t4opp,keep_top_info=True)
t4opp=t4opp.rename({'1/3':'P1/3'},axis=1)
t4opp.columns=['opp_'+x for x in t4opp.columns]
t4opp.index=pd.MultiIndex.from_tuples([(x[0],x[1][3:]) for x in t4opp.index])
t8opp=clean0(t8opp)
t8opp.columns=['opp_'+x for x in t8opp.columns]
t8opp.index=pd.MultiIndex.from_tuples([(x[0],x[1][3:]) for x in t8opp.index])

In [100]:
to_concat = [t1,t2,t3,t4,t5,t6,t7,t8,t10,t3opp,t4opp,t8opp]
df=pd.concat(to_concat,axis=1)
df=df.loc[:,~df.columns.duplicated()].copy()

In [101]:
cnames=df.columns.value_counts()
dcnames=cnames[cnames>1]
to_drop=['players_used','90s']
same=['Off','Crs','Int']
notsame=['Att','Live','FK','PKatt','1/3','Save%']
dcnames
# df[dcnames.index]

Series([], Name: count, dtype: int64)

In [102]:
df.to_csv("teams5s.csv")

In [103]:
# season_table = fbref.read_schedule()
df

                      players_used  MP  Starts   Min  90s  GA  GA90  SoTA  \
1819 Arsenal                     2  38      38  3420   38  51  1.34   182
     Bournemouth                 3  38      38  3420   38  70  1.84   173
     Brighton                    2  38      38  3420   38  60  1.58   170
     Burnley                     2  38      38  3420   38  68  1.79   199
     Cardiff City                1  38      38  3420   38  69  1.82   207
...                            ...  ..     ...   ...  ...  ..   ...   ...
2223 Nott'ham Forest             3  38      38  3420   38  68  1.79   182
     Southampton                 2  38      38  3420   38  73  1.92   150
     Tottenham                   2  38      38  3420   38  63  1.66   172
     West Ham                    2  38      38  3420   38  55  1.45   170
     Wolves                      2  38      38  3420   38  58  1.53   174

                      Saves  Save%  ...  opp_Carries  opp_TotDist  \
1819 Arsenal            132   75.8  ...        10744        58366
     Bournemouth        106   62.4  ...        13627        72502
     Brighton           110   70.6  ...        14786        81420
     Burnley            134   66.8  ...        14231        77324
     Cardiff City       135   68.6  ...        14676        82808
...                     ...    ...  ...          ...          ...
2223 Nott'ham Forest    112   65.9  ...        15879        86558
     Southampton         81   52.7  ...        14203        70838
     Tottenham          109   65.1  ...        13878        69544
     West Ham           115   70.0  ...        16218        85059
     Wolves             115   67.8  ...        12748        69224

                      opp_PrgDist  opp_PrgC  opp_1/3  opp_CPA  opp_Mis  \
1819 Arsenal                30164       683      495      184      551
     Bournemouth            37072       741      582      203      551
     Brighton               45177       845      676      196      548
     Burnley                42340       917      592      247      548
     Cardiff City           44834       872      646      232      631
...                           ...       ...      ...      ...      ...
2223 Nott'ham Forest        47243       813      585      216      557
     Southampton            35355       652      446      221      590
     Tottenham              33624       685      524      212      541
     West Ham               44739       805      612      222      568
     Wolves                 35818       702      495      218      570

                      opp_Dis  opp_Rec  opp_PrgR
1819 Arsenal              380    12212      1265
     Bournemouth          309    15971      1652
     Brighton             415    17547      1815
     Burnley              347    16502      1710
     Cardiff City         414    17425      1711
...                       ...      ...       ...
2223 Nott'ham Forest      363    18267      1880
     Southampton          417    16240      1717
     Tottenham            344    15945      1497
     West Ham             338    18736      1709
     Wolves               375    14439      1575

[100 rows x 212 columns]

In [104]:
r=range(15,24)
l1=list(r)
l2=[(l1[i],l1[i+1]if i<8 else x) for i,x in enumerate(l1)]
[str(x)+str(y) for x,y in l2][:-1]

['1516', '1617', '1718', '1819', '1920', '2021', '2122', '2223']